@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Biblioteca Web</h1>
    <h2>Empréstimos de livros e gestão de Clientes, Livros e Categorias.</h2>
</div>
